body,
html {
  font-family: sans-serif;
  text-align: center;
}

.navbar {
  list-style-type: none;
}

.navbar > li {
  display: inline;
  margin: 0 1em;
}

.activeStyle {
  color: red;
  font-size: 1.1em;
}
